.post-list {
    display: inline-block;
    width:100%;
}

.post-image {
    width: 100%;
    height: 80%;
}

.post-caption {
    width: 100%;
    align-content: center;
}

.card-style {
    width: 280px;
    padding: 32px 64px 32px 64px;
    margin: auto;
}